// 颜色
$text-color: #333;
$text-light-color: #fff;
$text-color-blue:#22B2E7;
$main-color: #3996f5;
$sec-color: #98c3ee;
$bg-color: #777;
$font-color:#5b5b5b;
$font-color-bule:#3996f5;
$border-color:#cdcdcd;

// 字体大小
$font-size: 14px;
