// 颜色
//普通字体颜色
$text-color: #5b5b5b;
//浅色字体颜色
$text-light-color: #fff;
//主题颜色
$main-color: #0ac55d;
//主题次要颜色
$sec-color: lighten($main-color, 10%);
//背景颜色
$bg-color: #777;
$font-color:#5b5b5b;
$font-color-bule:#0ac55d;
$border-color:#cdcdcd;
$main-light-color: #E0EEFD;
//普通边框颜色
$main-border-color:#cdcdcd;

$main-light-color:#fff;

// 字体大小
$font-size: 14px;
