// 颜色
//普通字体颜色
$text-color: #5b5b5b;
//浅色字体颜色
$text-light-color: #fff;
//主题颜色
$main-color: #3996f5;
//主题次要颜色
$sec-color: #98c3ee;
//背景颜色
$bg-color: #777;
//普通边框颜色
$main-border-color:#cdcdcd;

// 字体大小
$font-size: 14px;
