.alert {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
	color: $text-color;
	background: rgba(0,0,0,0.2);
	box-sizing: border-box;

	.box {
		width: 400px;
		min-height: 220px;
		background-color: #fff;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.alert-title {
		margin: 0;
		padding: 0 0 0 16px;
		line-height: 42px;
		font-size: 18px;
	}
	.yzf-icon-close {
		position: absolute;
		top: 11px;
		right: 11px;
		cursor: pointer;
	}
	.content {
		margin: 36px 16px 0;
		line-height: 26px;
		text-align: center;
	}
}