$drop-list-bg: #fff;
*{
  margin:0;
  padding: 0;
  input{
    outline: none;
  }
}
li{
  list-style: none;
}
.drop-list{
  display: inline-block;
  position: relative;
  .show{
    display: block!important;
  }
  .drop-tool input{
    height:34px;
    width:466px;
    padding-left: 28px;
  }
  .drop-tool span{
    height: 34px;
    width: 34px;
    display: inline-block;
    vertical-align: top;
    border: $border-color 1px solid;
    background: url(../../dist/image/drop.png) center no-repeat;
  }
  .option-list{
    display: none;
    position: absolute;
    width: 467px;
    top:34px;
    background:$drop-list-bg;
    border: $border-color 1px solid;
    border-top: 0;
    padding: 2.5px 0;
    li{
      height:35px;
      padding-left: 28px;
      text-align: left;
      overflow: hidden;
      color:$font-color;
    }
    li:hover{
      color: $font-color-bule;
    }
  }
}