$btn-text-color: $text-color;
$btn-bg-color: $main-color;
$btn-bd-color: $main-color;
.yzf-input-group{
  position: relative;
  margin-bottom: 20px;
  display: inline-block;
  .input_title{
    white-space: nowrap;
    font-size: 16px;
  }
}
.yzf_input{
  background-color: #fff;
  border: 1px solid #cdcdcd;
  color:#000;
  width: 226px;
  height: 30px;
  box-sizing: border-box;
  font-size: 16px;
  padding: 9px 11px;
}
.input-group-lg{
  >.yzf_input{
    width: 298px;
    height: 32px;
    box-sizing: border-box;
    font-size: 16px;
  }
  >.input_title{font-size: 16px;}
}
.input-group-sl{
  >.yzf_input{
    width: 188px;
    height: 30px;
    box-sizing: border-box;
    font-size: 14px;
    padding: 9px 11px;
  }
  >.input_title{font-size: 14px;}
}
.btn-default {
  @include button-variant($btn-text-color, $btn-bg-color, darken($btn-bd-color, 10%));
}