$label-text-color: $text-light-color;
$label-bg-color: $main-color;

.label {
  display: inline;
  padding: 3px 6px;
  font-size: 75%;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 2.5px;
  user-select: none;
  cursor:default;
}
.label-default{
  color:$label-text-color;
  background: $main-color;
  border:1px solid $main-color;
}
.label-pure{
  color:$main-color;
  background: #fff;
  border:1px solid $main-color;
  &:hover {
    color:$label-text-color;
    background: $main-color;
  }
}