.-nav{
	a{
	//color:#afe9ff;
	text-decoration:none
	}  
	ul.nav{ 
		width:100%; 
		height:104px; 
		//background:#22b2e7;
		margin:0 auto;
		border: 1px solid #CFCCC2;
	} 
	ul.nav li{
		display:inline; 
		height:104px;
	} 
	ul.nav li a{
		display:inline-block; 
		padding:0 20px; 
		height:104px; 
		line-height:104px; 
	    color:black;
	    font-size:16px;
	} 
	ul.nav li a:hover{
		//background:#0095BB;
		color:#22b2e7;
		color:$main-color;
	} 
	ul.nav .ac{
		color:#22b2e7 !important;
	}

	ul.nav img{
		vertical-align:middle;
		margin-right: 150px;
		margin-left: 50px;
	}

}


