$pagination-text-color: $text-light-color;
$pagination-main-color: $main-color;
$pagination-light-bg-color: lighten($btn-bg-color, 20%);
$pagination-border-color:$main-border-color;


.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    >li{
      display: inline;
    }
    > li > a {
      position: relative;
      float: left;
      padding: 6px 12px;
      margin-left: -1px;
      text-decoration: none;
      color:$pagination-main-color;
      background-color: #ffffff;
    }
    > li:first-child > a {
      margin-left: 0;
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;
    }
    > li:last-child > a {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    > li > a:hover{
      background-color: #eeeeee;
    }

    > .active > a,
    > .active > a:hover{
      z-index: 2;
      color: $pagination-text-color;
      cursor: default;
      background-color: $pagination-main-color;
      border-color: $pagination-main-color;
    }

    > .disabled > a,
    > .disabled > a:hover{
      color: #999999;
      cursor: not-allowed;
      background-color: #ffffff;
      border-color: $pagination-border-color;
    }
}