$pagination-text-color: $text-light-color;
$pagination-main-color: $main-color;
$pagination-light-bg-color: lighten($btn-bg-color, 20%);
$pagination-border-color:$main-border-color;

.pagination{
  text-align: center;
  color: #999999;
  a{
    text-decoration: none;
    margin:0 15px;
    color: #999999;
  }
  span,a{
    display: inline-block;
    box-sizing: border-box;
  }
  span.disabled{
    height: 35px;
    width: 65px;
    line-height: 35px;
    cursor: not-allowed;
    margin: 0 5px;
  }
  .current{
    color: #ffffff;
    background:$pagination-main-color;
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin: 0 5px;
  }
  input{
    width: 35px;
    height: 35px;
    text-align: center;
    box-sizing: border-box;

  }
}






