$tabs-main-color: $main-color;
$tabs-light-color: $text-light-color;
$tabs-border-color:$main-border-color;

.tabs{
  .nav-tabs {
    padding-left: 0;
    margin-bottom: 0;
    border-bottom: 1px solid $tabs-border-color;
    overflow: hidden;
    .fade {
      opacity: 0;
      -webkit-transition: opacity .15s linear;
      -o-transition: opacity .15s linear;
      transition: opacity .15s linear;
      &.in{
        opacity: 1;
      }
    }
    > li {
      position: relative;
      display: block;
      float: left;
      margin-bottom: -1px;
    }
    > li > a {
      position: relative;
      display: block;
      padding: 5px 15px;
      margin-left:-1px;
      border: 1px solid $tabs-border-color;
      background-color: #fff;
      color:$tabs-main-color;
      text-decoration: none;
    }
    > li > a:hover, > li > a:focus {
      color: $tabs-light-color;
      background-color: $tabs-main-color;
    }
    > li.active > a, > li.active > a:hover, > li.active > a:focus {
      color: $tabs-light-color;
      background-color: $tabs-main-color;
      border: 1px solid $tabs-border-color;
    }
  }
  .tab-content{
    padding:5px 15px;
    border:1px solid $tabs-border-color;
    margin-top:-1px;
    > .tab-pane {
      display: none;
    }
    > .active {
      display: block;
    }
  }
}